<!--
 * @Author: LQ
 * @Date: 2022-02-06 11:56:53
 * @LastEditors: OBKoro1
 * @LastEditTime: 2022-02-07 11:08:34
 * @FilePath: \前端开发学习路线\前端开发学习路线.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .body {
            width: 100vw;
            margin: 0px;
            padding: 0px;
        }

        #study {
            width: 100vw;
        }

        .text {
            width: 100%;
            display: flex;
        }

        .title {
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            color: crimson;
            background-color: rgb(41, 177, 48);
        }

        /* .textBody {
            width: 25%;
            border: 1px solid #dcdcdc;
            text-align: center;
            line-height: 30px;
            height: 30px;
            font-size: 16px;
        } */

        .el-tabs__item {
            width: 25vw;
            text-align: center;
        }

        .el-tabs__content {
            width: 100vw;
        }

        .el-table__body-wrapper {
            width: 100vw;

        }

        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>

<body>
    <div id="study">
        <span class="title"> 前端开发学习路线</span>
        <div class="text">
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane :label="item.name" :name="item.id" v-for="item in study" :key="item.id" class="textBody">
                    <el-table :data="tableData" stripe v-if="item.id== 1 " :row-class-name="tableRowClassName">
                        <el-table-column prop="date" label="日期" width="100">
                        </el-table-column>
                        <el-table-column prop="value" label="学习内容" width="380">
                        </el-table-column>
                        <el-table-column prop="Degree" label="重要程度" width="80">
                        </el-table-column>
                        <el-table-column prop="text" label="具体内容" width="420">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">图片一</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">图片二
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-table :data="tableData2" stripe v-else-if="item.id== 2 " :row-class-name="tableRowClassName2">
                        <el-table-column prop="date" label="日期" width="100">
                        </el-table-column>
                        <el-table-column prop="value" label="学习内容" width="380">
                        </el-table-column>
                        <el-table-column prop="Degree" label="重要程度" width="80">
                        </el-table-column>
                        <el-table-column prop="text" label="具体内容" width="420">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit2(scope.$index, scope.row)">资料一</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete2(scope.$index, scope.row)">资料二
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-table :data="tableData3" stripe v-else-if="item.id== 3" :row-class-name="tableRowClassName3">
                        <el-table-column prop="date" label="日期" width="100">
                        </el-table-column>
                        <el-table-column prop="value" label="学习内容" width="380">
                        </el-table-column>
                        <el-table-column prop="Degree" label="重要程度" width="80">
                        </el-table-column>
                        <el-table-column prop="text" label="具体内容" width="420">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit3(scope.$index, scope.row)">资料一</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete3(scope.$index, scope.row)">资料二
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-table :data="tableData4" stripe v-else-if="item.id== 4" :row-class-name="tableRowClassName4">
                        <el-table-column prop="date" label="日期" width="100">
                        </el-table-column>
                        <el-table-column prop="value" label="学习内容" width="380">
                        </el-table-column>
                        <el-table-column prop="Degree" label="重要程度" width="80">
                        </el-table-column>
                        <el-table-column prop="text" label="具体内容" width="420">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit4(scope.$index, scope.row)">资料一</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete4(scope.$index, scope.row)">资料二
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div v-else>
                        正在开发中，尽情期待。。。。。。
                    </div>
                </el-tab-pane>
            </el-tabs>


            <!-- <div v-for="item in study" :key="item.id" class="textBody">
                {{item.name}}
            </div> -->
        </div>
        <!-- <el-image-viewer v-if="showPic" :on-close="closeViewer" :url-list="srcList" /> -->

    </div>
</body>
<script>
    new Vue({
        el: '#study',

        // srcList: [require("./img/nopick.jpg")],
        data: {
            showPic: false,
            activeName: 2,
            tableData: [{
                date: '第一天',
                value: '①:了解html ②：常用标签 ③：网页与标签的联动',
                Degree: '四星',
                text: '行内标签：包含a、span、em、strong、b、i、u、label、br；块标签：包含p、div、ul、ol、li、dl、dt、dd、h1~h6、form；',
                Image: "./img/day1.jpg",
            },
            {
                date: '第二天',
                value: '①:了解表单 ②：了解表格 ',
                Degree: '四星',
                text: ' <table>  <tr>  <td>',
                Image: "./img/day2.jpg",
            },
            {
                date: '第三天',
                value: '①:标签选择器 ②：文字样式，文本相关样式 ',
                Degree: '四星',
                text: '类选择：class id选择器：id 子代选择器 后代选择器 兄弟选择器 ;操作文字大小样式：font-size; color ',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第四天',
                value: '①:盒模型 ②：适当写一个简易的静态样式 ',
                Degree: '四星',
                text: '了解 padding margin 写一个盒子居中(margin:0 auto)的页面 元素转换：display：block/inline/inline-block',
                Image: "./img/day4.jpg",
            },
            {
                date: '第五天',
                value: '①:伪元素 ②：浮动以及浮动的影响 ③：清除浮动 ④：隐藏和显示 ⑤圆角边框',
                Degree: '四星',
                text: '了解具体清除浮动的几种方法 如双伪元素.clearfix:after {clear: both;} 圆角边框(border-radius: ;)具体内容参考图片',
                Image: "./img/day5-1.jpg",
                Image2: "./img/day5-2.jpg",
            },
            {
                date: '第六天',
                value: '①:定位 ②：固定定位（绝定定位，相对定位，） ③：层级关系 ④：定位对元素的影响 ⑤：了解：hover',
                Degree: '四星',
                text: '了解定位的几种方法position（静态定位：static;绝定定位：absolute；相对定位：relative；固定定位：fixed；），用定位实现一个盒子居中（z-index） 具体内容参考图片',
                Image: "./img/day6-1.jpg",
                Imag2: "./img/day6-2.jpg",
            },
            {
                date: '第七天',
                value: '①:图片下间隙 ②：按钮与文本框  ③：ie浏览器的兼容问题 ④：自适应 ⑤：双飞翼布局以及圣杯布局',
                Degree: '四星',
                text: '具体内容参考图片',
                Image: "./img/day7-1.jpg",
                Imag2: "./img/day7-2.jpg",
            },
            {
                date: '第八天',
                value: '①:了解精灵图 ②：bfc盒子 ③：鼠标移入 ④：盒子阴影',
                Degree: '四星',
                text: 'background-image:;background-position:;  盒子阴影box-shadow ; 文字阴影text-shadow',
                Image: "./img/day8.jpg",
            },
            {
                date: '第九天',
                value: '①:找一个页面写一个完整的静态页面，去练习之前的知识',
                Degree: '四星',
                text: '项目自寻静态页面可以参照小米官网',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十天',
                value: '①:透明度 ②：文本溢出 ③：svg图片',
                Degree: '四星',
                text: '透明度 opacity ;filter:Alpha( opacity =50) ②：文本溢出white-space:nowrap ;多行溢出',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十一天',
                value: '①:H5语义化标签 ②：H5 input新增的属性',
                Degree: '四星',
                text: '内容过多介意参考图片',
                Image: "./img/day11-1.jpg",
                Imag2: "./img/day11-2.jpg",
                Imag3: "./img/day11-3.jpg",
            },
            {
                date: '第十二天',
                value: '①:结构伪类选择器 ②：表单选择器 ③：线性渐变：④：径向渐变',
                Degree: '四星',
                text: '结构伪类选择器:E:first-child；E:last-child；E:nth-child(n)；E:nth-child(2n+1)或者E:nth-child(odd/even)；E:only-child ;表单选择器: :checkbox; :submit... 线性渐变:background: linear-gradient(color1,color2); 径向渐变:background: radial-gradient(#f00,#ff0);',
                Image: "./img/day12-1.jpg",
                Imag2: "./img/day12-2.jpg",
                Imag3: "./img/day12-3.jpg",
            },
            {
                date: '第十三天',
                value: '①:弹性盒子 ②：less ③：伸缩布局：④：换行属性',
                Degree: '四星',
                text: '弹性布局建议参考阮一峰；了解less的语法以及如何引入； 换行属性:white-space：normal(不换行)',
                Image: "./img/day13.jpg",
            },
            {
                date: '第十四天',
                value: '①:逻辑分辨率 ②：流式布局 ③：rem单位：④：布局适配',
                Degree: '四星',
                text: '本人后期优化，或则各位暂时根据此四个内容去寻找相关内容',
                Image: "./img/day14.jpg",
            },
            {
                date: '第十五天',
                value: '①:过度属性 ②：平移属性 ③：缩放属性：④：景深 ⑤：3D旋转 ⑥：立方体· ⑦：动画',
                Degree: '四星',
                text: '本人后期优化，或则各位暂时根据以上内容去寻找相关内容',
                Image: "./img/day15.jpg",
            },
            {
                date: '第十六天',
                value: '①:文字渐变 ②：animate ③：bootstrap：④：栅格系统原理 ',
                Degree: '四星',
                text: '本人后期优化，或则各位暂时根据以上内容去寻找相关内容',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十七天',
                value: '到此可以花两天时间做一个完整的静态页面了，本人建议就用一个小米商城的页面参考吧，当然一定要写的一模一样，（你已经是一个合格的前端切图仔了）写完了可以来找本人拿项目。本人提供源码',
                Degree: '五星',
                text: '',
                Image: "./img/nopick.jpg",
            },

            ],
            tableData2: [{
                date: '第一天',
                value: '①:了解js ②：注释 ③：变量（var）④：点击事件⑤：鼠标事件 ⑥：js操作元素⑦：js样式操作⑧：csstext',
                Degree: '五星',
                text: '原生js的事件{点击事件:onclick;鼠标移入:onmouseenter/onmouseover;鼠标移出:onmouseleave/onmouseout;鼠标移动:onmousemove;鼠标按下:onmousedown;鼠标抬起:onmouseup;鼠标双击:ondblclick;鼠标右击:oncontextmenu。1:box.innerHTML2.box.innerText3.更改元素的id名box.Id＝""4更改元素的类名box.className＝""5.获取元素:document.getElementById()6.更改图片:var pic.src="路径"1.更改元素属性:box.style."属性名"="属性值"。2.box.style.cssText="原生css格式写法(widht:50px;)"3.计算字符串长度:str.length;4.获取字符串的第二个字符:str.charAt(1);5判断是否不是数字:isNaN(n);是数字则返回false.6.开根号:Math.sqrt(100)==10;7.获取对应下标的字符编码:str.charcodeAt(2).a为97，A为65.8.返回待定字符在字符串中首先出现的位置:str.indexof("a");返回下标，如果没有a则返回-1;9.返回字符串中字符最后一次出现的位置:str.lastIndexof("a");10indexof的参数:indexof("所要查找的字符"，"从下标几开始")。indexof("a",1);',
                Image: "./img/day1.jpg",
                Image2: "./img/day1.jpg",
            },
            {
                date: '第二天',
                value: '①:js中五种基本数据类型 ②：数组运算  ③：parselnt()④：Number()⑤：转字符串 ⑥：算术运算符⑦：比较运算符⑧：逻辑运算符⑨：三目运算符',
                Degree: '五星',
                text: ' js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕',
                Image: "./img/day2.jpg",
            },
            {
                date: '第三天',
                value: '①:了解if语句 ②：if-else ③：if嵌套④：switch⑤：获取元素 ⑥：for循环⑦：for循环嵌套 ',
                Degree: '五星',
                text: '获取元素方法1.document.getElementsByTagName("标签名")2.document.getElementsByClassName("类名")3.document.getElementsById("id名")',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第四天',
                value: '①:写一个九九乘法口诀 ②：for in 循环 ③：beak和continue④：百度查询js如何判断质数⑤：while循环 ⑥：this⑦：自定义属性 ⑧：自定义索引',
                Degree: '五星',
                text: 'js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕',
                Image: "./img/day4.jpg",
            },
            {
                date: '第五天',
                value: '①:函数定义 ②：函数参数 ③：arguments④：复习一下this⑤：作用域 ⑥：作用域链⑦：声明提升 ⑧：函数返回值（return）',
                Degree: '五星',
                text: 'js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕',
                Image: "./img/day5-1.jpg",
                Image2: "./img/day5-2.jpg",
            },
            {
                date: '第六天',
                value: '①:setTimeout()延时器②：setInterval()定时器 ③：如何清除定时器④：知道定时器了那么就可以制作一个奔跑的div盒子了，具体详情可以百度参考（https://www.icode9.com/content-4-799530.html）',
                Degree: '五星',
                text: 'js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕',
                Image: "./img/day6-1.jpg",
                Imag2: "./img/day6-2.jpg",
            },
            {
                date: '第七天',
                value: '①:经过六天js的学习那么就需要简单的写一个轮播图了（具体资料参照https://blog.csdn.net/mo_jiu/article/details/80103849）， ②：时间对象  ③：了解如何创建时间对象 ④：字符串的操作方法（参照文献：https://www.w3school.com.cn/js/js_string_methods.asp）',
                Degree: '五星',
                text: '具体内js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕容参考图片',
                Image: "./img/day7-1.jpg",
                Imag2: "./img/day7-2.jpg",
            },
            {
                date: '第八天',
                value: '①:写一个倒计时（如若需要本人可提供源码） ②：字符串如何转json ③：数组④：数组方法（参考文献：https://www.cnblogs.com/zyfeng/p/10541133.html）⑤：冒泡排序（https://www.jianshu.com/p/ffc9a9af3dd7） ⑥：选择排序（https://www.cnblogs.com/zhouliang/p/6679836.html）',
                Degree: '五星',
                text: '具体内js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕容参考图片',
                Image: "./img/day8.jpg",
            },
            {
                date: '第九天',
                value: '①:数组去重 ②：子节点 ③：父节点④：兄弟节点⑤：新增节点 ⑥：插入和删除节点⑦：替换和复制节点',
                Degree: '五星',
                text: 'DOM 参考文献https://www.cnblogs.com/dalaoban/p/9498218.html',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十天',
                value: '①:添加表格和删除表格 ②：getAttribute()③：获取表单元素，表单事件和方法④：BOM（open();location();history();client();offset();scroll()onresize()）',
                Degree: '五星',
                text: 'BOM',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十一天',
                value: '①:事件函数和事件对象 ②：事件绑定和事件取消 ③：阻止冒泡事件④：阻止默认事件⑤：事件流 ⑥：键盘事件',
                Degree: '五星',
                text: '具体内js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕容参考图片',
                Image: "./img/day11-1.jpg",
                Imag2: "./img/day11-2.jpg",
                Imag3: "./img/day11-3.jpg",
            },
            {
                date: '第十二天',
                value: '①:滚动事件 ②：事件委托 ③：拖拽④：滚轮事件',
                Degree: '五星',
                text: '具体内js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完毕容参考图片',

            },
            {
                date: '第十三天',
                value: '①:模拟滚动条 ②：多属性运动③：了解函数封装④：cookie(设置/获取/过期时间)⑤：实现cookie的获取和设置封装⑥：了解正则表达式⑦：修饰符⑧:字符串的方法(https://www.w3school.com.cn/js/js_string_methods.asp)',
                Degree: '五星',
                text: 'js学习强度确实相对于htmlcss来说要大不少因而资料暂时就不规划了，本人先将学习路线制作完',
                Image: "./img/day13.jpg",
            },
            {
                date: '第十四天',
                value: '①:字面量创建对象 ②：实列创建对象 ③：工厂模式创建对象④：this指向问题⑤：构造函数创建对象⑥:原型创建对象',
                Degree: '五星',
                text: '参考文献：cnblogs.com/juggdxy/p/8245491.html',
                Image: "./img/day14.jpg",
            },
            {
                date: '第十五天',
                value: '①:原型 ②：原型链 ③：call&&apply④：原型链及其继承⑤：匿名函数⑥:了解闭包（重中之重）⑦：ajax(get和post)⑧：实现一个ajax封装',
                Degree: '六星',
                text: '原型以及原型链（https://www.jianshu.com/p/be7c95714586） ajax封装（https://segmentfault.com/a/1190000013033689）',
                Image: "./img/day15.jpg",
            },
            {
                date: '第十六天',
                value: '到此可以给自己花两天时间做项目了，jq(建议不要学了因为也需要花不少时间的，还是直接做项目吧)',
                Degree: '五星',
                text: '到此可以花两天时间做一个完整的静态页面了，本人建议就用一个暴风影音的页面参考吧，当然一定要写的一模一样，其中的重点当然就是自己能够实现一个轮播图啦，一个完整的轮播图，此处就需要练习你的js功底了写完了可以来找本人拿项目。本人提供源码',
                Image: "./img/nopick.jpg",
            },

            ],
            tableData3: [{
                date: '第一天',
                value: '①:了解ES5和ES6的关联 ②：let和const ③：模板字符串④：对象解构⑤：数组解构 ',
                Degree: '五星',
                text: ' 参考文献：https://es6.ruanyifeng.com/',
                Image: "./img/day1.jpg",
                Image2: "./img/day1.jpg",
            },
            {
                date: '第二天',
                value: '①:箭头函数 ②：手写bind方法  ③：深拷贝和浅拷贝④symbol和set和map⑤：Es6数组和对象',
                Degree: '五星',
                text: ' 参考文献：https://es6.ruanyifeng.com/',
                Image: "./img/day2.jpg",
            },
            {
                date: '第三天',
                value: '①:promise(重中之重) ②：async ③：await④：class语法⑤：本地存储（session/cookie/localstroge）',
                Degree: '五星',
                text: ' 参考文献：https://es6.ruanyifeng.com/(今天的重点就是了解promise还有回调函数两者之间的关联【回调地狱】)',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第四天',
                value: '①:interator②：generator③：初略了解git④：了解common.js ⑤:开始node的学习',
                Degree: '五星',
                text: '参考文献：https://es6.ruanyifeng.com/',
                Image: "./img/day4.jpg",
            },
            {
                date: '第五天',
                value: '①:node开始，记得安装node环境(https://www.cnblogs.com/hualess/p/11541908.html)②：路由 ③：路由设计④：模块化⑤：url模块 ⑥：get请求表单提交',
                Degree: '五星',
                text: 'node学习强度会大很多，且抽象许多，但是我们一定要了解node对我们前端的重要性，所以也不能轻松对待（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',
                Image: "./img/day5-1.jpg",
                Image2: "./img/day5-2.jpg",
            },
            {
                date: '第六天',
                value: '①:事件文件流②：http path模块post请求③：fs模块④：buffer',
                Degree: '五星',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',
                Image: "./img/day6-1.jpg",
                Imag2: "./img/day6-2.jpg",
            },
            {
                date: '第七天',
                value: '①:http封装 ②：内置中间件和自定义中间件  ③：express初体验 ④：express路由',
                Degree: '五星',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',
                Image: "./img/day7-1.jpg",
                Imag2: "./img/day7-2.jpg",
            },
            {
                date: '第八天',
                value: '①:第三方中间件 ②：formData图片上传③：验证码④：ejs和路由级别的路由',
                Degree: '五星',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',
                Image: "./img/day8.jpg",
            },
            {
                date: '第九天',
                value: '①:json和express生成器 ②：sesson ③：cookie',
                Degree: '五星',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）到此实现一个登陆页面的流程',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十天',
                value: '①:mongodb安装（https://www.runoob.com/mongodb/mongodb-window-install.html） ②：mongodb数据库的增删改查命令',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十一天',
                value: '①：了解登录注册的原理流程②：了解用户密码加密流程',
                Degree: '五星',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',
                Image: "./img/day11-1.jpg",
                Imag2: "./img/day11-2.jpg",
                Imag3: "./img/day11-3.jpg",
            },
            {
                date: '第十二天',
                value: '①:了解webpack②：es6模块化',
                Degree: '五星',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',

            },
            {
                date: '第十三天',
                value: '①:跟着视频做项目吧',
                Degree: '五星',
                text: '（推荐哔站教程视频https://www.bilibili.com/video/BV11t411k79h?from=search&seid=3644725807944911656&spm_id_from=333.337.0.0）',
                Image: "./img/day13.jpg",
            },
        
            ],
            tableData4: [{
                date: '第一天',
                value: '①:vue简介和基本用法 ②vue基本指令 ③：vue基本指令v-modelh和for循环④：数据本地存储⑤：vue基本指令-属性绑定 ',
                Degree: '五星',
                text: ' 参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0',
                Image: "./img/day1.jpg",
                Image2: "./img/day1.jpg",
            },
            {
                date: '第二天',
                value: '①:vue事件修饰符 ②：vue中jsonp和监听的基本使用  ③：vue深度监听和计算属性',
                Degree: '五星',
                text: '参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0',
                Image: "./img/day2.jpg",
            },
            {
                date: '第三天',
                value: '①:vue表单修饰符②：vue过滤器的定义和使用③：vue过度动画④：生命周期⑤：vue组件的定义和使用',
                Degree: '五星',
                text: ' 参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第四天',
                value: '①:vue脚手架的安装以及基本使用②：vue脚手架实现后台页面布局③：vue组件传值父传子④：vue组件传值子传父 ⑤:vue组件非父子组件传值 ⑥：全局组件⑦： vue动态组件和插槽',
                Degree: '五星',
                text: '参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0',
                Image: "./img/day4.jpg",
            },
            {
                date: '第五天',
                value: '①:vue中ref的使用②：vue中路由的基本使用和编程式导航 ③：vue路由-嵌套④：vue路由-动态路由',
                Degree: '五星',
                text: '参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0',
                Image: "./img/day5-1.jpg",
                Image2: "./img/day5-2.jpg",
            },
            {
                date: '第六天',
                value: '①:vue路由别名和name属性的使用②：vue-路由导航守卫钩子函数③：用脚手架写一个登录页面，为后期项目做准备',
                Degree: '五星',
                text: '参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0',
                Image: "./img/day6-1.jpg",
                Imag2: "./img/day6-2.jpg",
            },
            {
                date: '第七天',
                value: '①:vue-axios基本使用 ②：继续将登录页面完善（本人推荐写一个网易云项目本人有一个完整的项目，可提供源码以及接口）',
                Degree: '五星',
                text: '参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0',
                Image: "./img/day7-1.jpg",
                Imag2: "./img/day7-2.jpg",
            },
            {
                date: '第八天',
                value: '写网易云项目实现登录页面、推介歌单页面和热歌榜以及搜索页面还有跳转到详情页面',
                Degree: '五星',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',
                Image: "./img/day8.jpg",
            },
            {
                date: '第九天',
                value: '写网易云项目实现登录页面、推介歌单页面和热歌榜以及搜索页面还有跳转到详情页面（了解和模仿本人提供的项目，本人可提供从项目启动等后续一系列问题）',
                Degree: '五星',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十天',
                value: '①:vue-vuex模块化 ②：vue-vuex（五大模块）③：vue脚手架如何使用轮播图插件',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',
                Image: "./img/nopick.jpg",
            },
            {
                date: '第十一天',
                value: '①：了解vue脚手架如何使用elementUI和移动端使用minui和vantui等库②：和如何使用less或者stylus等预处理器',
                Degree: '五星',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',
                Image: "./img/day11-1.jpg",
                Imag2: "./img/day11-2.jpg",
                Imag3: "./img/day11-3.jpg",
            },
            {
                date: '第十二天',
                value: '①:写一个后台管理项目，了解后台管理项目等基本流程（本人可提供项目及其源码）该项目也是多花几天时间，因为相当于是入职前的最后一个项目了，不可以儿戏，能否入职就得看你自己的项目成果了②：es6模块化',
                Degree: '五星',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',

            },
            {
                date: '第十三天',
                value: '①:今天是了解如何在vue脚手架当中使用echarts图表以及如何将数据用图表的形式展示',
                Degree: '五星',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',

            },
            {
                date: '第十四天',
                value: '①:今天是了解百度地图在脚手架的使用，以及如何使用highcharts图表库的使用',
                Degree: '五星',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',

            },
            {
                date: '第二十天',
                value: '①:为什么直接到20天是因为这一个星期是给自己做项目的，当然本人给的项目是你在看完本人提供的哔站教学视频之后再结合我给的项目来相互协调的，总之做项目时间可以更长都行，这一段时间就要总结自己所学，和沉淀的过程，当然我所提供的学习路线只是一个前端人员最基本的技能而已，后续还有更多的东西在等待着我们去探索，比如react-vue3-ts',
                Degree: '五星',
                text: '（推荐哔站教程视频参考文献：https://www.bilibili.com/video/BV15741177Eh?from=search&seid=16528599207915699880&spm_id_from=333.337.0.0）',
                Image: "./img/day13.jpg",
            },
        
            ],
            study: [{
                id: 1,
                name: "第一阶段",
                value: "学习内容",
            },
            {
                id: 2,
                name: "第二阶段",
                value: "学习内容",
            },
            {
                id: 3,
                name: "第三阶段",
                value: "学习内容",
            },
            {
                id: 4,
                name: "第四阶段",
                value: "学习内容",
            },
            ]
        },
        mounted() {
            // this.tableRowClassName();
            // this.tableRowClassName2();
        },
        methods: {

            // 关闭图片预览
            closeViewer() {
                this.showPic = false;
            },
            tableRowClassName({
                row,
                rowIndex
            }) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            tableRowClassName2({
                row,
                rowIndex
            }) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            tableRowClassName3({
                row,
                rowIndex
            }) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            tableRowClassName4({
                row,
                rowIndex
            }) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            handleClick(tab, event) {
                console.log(tab);
            },
            handleEdit(item, row) {
                this.$alert(`<img src="${row.Image}" alt="">`, '图片1', {
                    dangerouslyUseHTMLString: true
                });
                //                 this.$alert(`<div class="demo-image__preview">
                //   <el-image 
                //     style="width: 100px; height: 100px"
                //     src="${row.Image}" 
                //     :preview-src-list=""${row.Image}">
                //   </el-image>
                // </div>`, '图片1', {
                //                     dangerouslyUseHTMLString: true
                //                 });
                // 如果没有上传的图片则用默认图片
                // this.srcList = [item.Image];
                this.showPic = true;
            },
            handleDelete(index, row) {
                this.$alert(`<img src="${row.Imag2}" alt="">`, '图片2', {
                    dangerouslyUseHTMLString: true
                });
            },
            handleEdit2(item, row) {
                this.$alert(`<img src="${row.Image}" alt="">`, '图片1', {
                    dangerouslyUseHTMLString: true
                });
            },
            handleDelete2(index, row) {
                this.$alert(`<img src="${row.Imag2}" alt="">`, '图片2', {
                    dangerouslyUseHTMLString: true
                });
            },
            handleEdit3(item, row) {
                this.$alert(`<img src="${row.Image}" alt="">`, '图片1', {
                    dangerouslyUseHTMLString: true
                });
            },
            handleDelete3(index, row) {
                this.$alert(`<img src="${row.Imag2}" alt="">`, '图片2', {
                    dangerouslyUseHTMLString: true
                });
            },
            handleEdit4(item, row) {
                this.$alert(`<img src="${row.Image}" alt="">`, '图片1', {
                    dangerouslyUseHTMLString: true
                });
            },
            handleDelete4(index, row) {
                this.$alert(`<img src="${row.Imag2}" alt="">`, '图片2', {
                    dangerouslyUseHTMLString: true
                });
            },
        }
    })
</script>


</html>